<!-- views/partials/clientForm.handlebars -->
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  <i class="bi bi-calculator"></i> Calculator
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{>modal}}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="cont container">

  <div class="item">
    <h2>Agregar Cliente</h2>
    <form action="/clientes" method="POST" class="item">
      <div class="cont container">
        <div class="item">
          <label for="name" class="">Nombre</label>
          <input
            type="text"
            id="name"
            name="nombre"
            placeholder="Nombre"
            class="form-control form-control-sm"
            aria-label=".form-control-sm example"
            required
          />
        </div>

        <div class="item">
          <label for="name" class="">Precio App</label>
          <input
            type="number"
            name="precioApp"
            placeholder="PrecioApp"
            class="form-control form-control-sm"
            aria-label=".form-control-sm example"
            step="0.001"
            required
          />
        </div>
        <div class="item">
          <label for="name" class="">Precio</label>
          <input
            type="number"
            name="precio"
            placeholder="Precio"
            class="form-control form-control-sm"
            aria-label=".form-control-sm example"
            step="0.001"
            required
          />
        </div>

        <div class="item">
          <label for="name" class="">Cant Articulo</label>
          <input
            type="number"
            name="cantArticulo"
            placeholder="Cantidad de Articulos"
            class="form-control form-control-sm"
            aria-label=".form-control-sm example"
            required
          />
        </div>

        <div class="item buttom-div">
          <button type="submit" class="btn btn-primary bottom">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</div>